[[> http://www.metaphacts.com/resource/breadcrumbs/HelpPage]]

<div class="page">
  <div class='page__body'>
    <h1>Semantic Form</h1>

    <p>
      The form component can be used to create declarative authoring forms for knowledge graphs.
    </p>

    The <code>&lt;semantic-form&gt;</code> component needs to be configured mainly on two levels:
    <ul>
      <li><a href="#fielddefinitions">Field Definitions</a></li>
      <li><a href="#formattributes">Form Attributes</a> and <a href="#html5markup">HTML5 Markup</a></li>
    </ul>


    <h2 id="fielddefinitions">Field Definitions</h2>
    <p>
      So called <b>field definitions</b> provide an abstraction over the data model (aka ontology) by specifying complex path patterns within knowledge graph as SPARQL patterns.
    </p>
    <p>
      The <b>field definitions</b> can be used to instruct the <b>form</b> how to read and update <u>atomic values</u> within the graph.
      Furthermore, they can be used to specify certain validation constraints such as datatypes, cardinalities or pattern matches against existing database entries.
    </p>
    <p>
      Attributes of a field definition are (mandatory attributes marked with *):
    </p>
    <mp-documentation type='FieldDefinitionConfig' disable-transform-attributes=true></mp-documentation>

    <h2 id="formattributes">Form Attributes</h2>
    <p>While field definitions are being defined on an abstract level, forms and corresponding input elements can be instantiated using custom HTML5 components including references to the field definitions. </p>

    <p>The basic structure of a form markup looks as follows:</p>
    <p>The form itself is instantiated through the custom HTML5 tag <code>[[{{documentation}}]]<semantic-form> ... children... </semantic-form>[[{{/documentation}}]]</code> </p>
    <p>The only mandatory attribute on the form component is the attribute <code>fields</code>, which expects and JSON object array of field definitions.</p>
<mp-code-block mode='text/html' show-copy-button=false>
<![CDATA[
<semantic-form
  fields='[{
    "id": "name",
    "label": "Name",
    "insertPattern": "INSERT { $subject foaf:name $value } WHERE {}"
    }]'>

  ... children ...

</semantic-form>
]]></mp-code-block>

    Furthermore, the following attributes can be configured:
    <div class='ResourceEditorFormConfig'>
      <mp-documentation type='ResourceEditorFormConfig'></mp-documentation>
    </div>

    <p>For <code>persistence</code> attribute the <code>'rest'</code> mode allows transferring the collected form data to a REST endpoint, e.g. to trigger an action. This requires additional configuration, see <semantic-link iri="[[resolvePrefix "Help:SemanticFormRestPersistence"]]">REST-based Form Persistence</semantic-link> for details.</p>

    <p>See <semantic-link iri="[[resolvePrefix "Help:SemanticFormDependenciesConstraints"]]">Form Dependencies and Constraints</semantic-link> for details on how to configure multi-field dependencies and constraints.</p>

    <h2 id="html5markup">HTML5 Markup</h2>
    <p>
      Within the form component, arbitrary standard and custom HTML5 elements can be nested as
      children elements e.g. for layout purpose tabs can be used.
    </p>
    <p>
      To instantiate a certain field through an input element, one can choose from a set of dedicated form input elements, whereas each input <strong>MUST</strong> reference a field definition via the <code>for='{field-id}'</code> attribute.
    </p>

    <style>
      .inputs-table td:nth-child(1) {
        font-weight: bold;
        width: 10%;
      }
      .inputs-table td:nth-child(2) {
        width: 50%;
      }
      .inputs-table td:nth-child(2) {
        width: 40%;
      }
    </style>
    <table class="table table-striped table-bordered inputs-table">
      <tbody>
        <tr>
          <th>Field input name</th>
          <th>Markup</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Text Input</td>
          <td>
						<mp-code-block mode='text/html'><![CDATA[
<semantic-form-text-input for='{field-id}'>
</semantic-form-text-input>
						]]></mp-code-block>
						<mp-code-block mode='text/html'><![CDATA[
<!-- allows to add language tag -->
<semantic-form-text-input for='name' languages='["en", "ru"]'>
</semantic-form-text-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>Commonly used for Literal values. However, can also be used for IRIs if corresponding xsdDatatype of field definition is <code>xsd:anyURI</code>.</p>
            <p>Accepts an optional attribute <code>languages='["de","en"]'</code>, which can be used to let the user select a language tag if xsdDatatype is <code>rdf:langString</code>.</p>
            <p>The optional attribute <code>require-language=true</code> selects the first language by default and disables non-language option.</p>
            <p>Setting the optional HTML attribute <code>multiline</code> to <code>multiline=true</code> will render a autoresizable text area.</p>
          </td>
        </tr>
        <tr>
          <td>Select Input</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-select-input for='{field-id}'>
</semantic-form-select-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>Offers a dropdown list to choose entities from, using the <code>valueSetPattern</code> from the referenced field definition.</p>
          </td>
        </tr>
        <tr>
          <td>Autocomplete Input</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-autocomplete-input for='{field-id}'>
</semantic-form-autocomplete-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>Dynamic autosuggestion while user enters search token, using the <code>autosuggestionPattern</code> from the referenced field definition.</p>
            <p>Besides using SPARQL queries for search, the <semantic-link iri="[[resolvePrefix "Help:DataClient"]]">Data Client</semantic-link> can be used to look up entities based on the provided search terms. See <semantic-link iri="[[resolvePrefix "Help:DataClient"]]">Data Client</semantic-link> for details and examples.</p>

          </td>
        </tr>
        <tr>
          <td>DateTime Input</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-datetime-input for='{field-id}'>
</semantic-form-datetime-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>Component to either enter <code>date</code>, <code>time</code> or <code>dateTime</code> string or to select them visually from a calendar.</p>
            <p>All dates are always displayed as and normalized to UTC strings. Format will be offered depdending on the xsd datatype as speficified in the referenced field definition.</p>
          </td>
        </tr>
        <tr>
          <td>TreePicker Input</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-tree-picker-input for='{field-id}'>
</semantic-form-tree-picker-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>Component to select one or many values from a hierarchy represented by a tree selector, using the <code>treePatterns</code> from the referenced field definition.</p>
          </td>
        </tr>
        <tr>
          <td>Composite Input</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-composite-input for='{field-id}'
  new-subject-template='template'
  fields='[{fieldDefinitions}]'>
  ... child inputs ...
</semantic-form-composite-input>
          ]]></mp-code-block>
          </td>
          <td>
            <p>Represents field value as a sub-form which should be saved in the same container as the parent form.</p>
            <p>E.g. suppose a field for a <strong>TimeSpan</strong> value with <strong>begin</strong> and <strong>end</strong> values. In this case <strong>TimeSpan</strong> is tightly coupled to the record, so it should be saved, edited and removed together with the record.</p>
            <p><code>new-subject-template</code> for this component can be a relative IRI. If it's set as <code>'.'</code> the IRI will be equal to the parent form IRI.</p>
          </td>
        </tr>
        <tr>
          <td>Hidden Input</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-hidden-input for='{field-id}'
    default-value='https://www.wikidata.org/wiki/Q2337004'>
</semantic-form-hidden-input>
            ]]></mp-code-block>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-hidden-input for='{field-id}'
    default-values='["Emmett Brown", "Marty McFly"]'>
</semantic-form-hidden-input>
            ]]></mp-code-block>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-hidden-input for='{field-id}'
    append-value='&lbrack;&lbrack;singleValueFromSelect "SELECT ?user WHERE { BIND(?__useruri__ as ?user) }" ]]'>
</semantic-form-hidden-input>
            ]]></mp-code-block>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-hidden-input for='{field-id}'
    replace-value='&lbrack;&lbrack;currentDateTime format="yyyy-MM-dd'T'hh:mm:ss"]]'>
</semantic-form-hidden-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>Represents a hidden field, which will not be visible to the user and which will be automatically saved as soon as the form is saved. Values to be saved can be provided through the <code>default-value</code> or <code>default-values</code> attributes.</p>
            <p>In addition to saving default values, the hidden field supports to replace or append values using the <code>replace-value</code> or <code>replace-values</code> and <code>append-value</code> or <code>append-values</code> settings, respectively.</p>
            <p><strong>replace-value</strong> or <strong>replace-values</strong> allows to rewrite value(s) on each save operation of the form.</p>
            <p><strong>append-value</strong> or <strong>append-values</strong> allows to append the new value(s) to the current object dataset.</p>
            <p>When one of these attributes is used, the parameters <code>default-value</code> and <code>default-values</code> are ignored.</p>
            <p><span style='color:red;font-weight:bold;'>Please note:</span> <code>default-value</code> and <code>default-values</code> work only if the forms are in creation mode using the <code>new-subject-template</code>. Please use the <code>replace-value</code> or <code>replace-values</code> otherwise.</p>
          </td>
        </tr>
        <tr>
          <td>Checklist Input</td>
          <td>
						<mp-code-block mode='text/html'><![CDATA[
<semantic-form-checklist-input for='{field-id}'>
</semantic-form-checklist-input>
						]]></mp-code-block>
						<mp-code-block mode='text/html'><![CDATA[
<!-- allows to add type -->
<semantic-form-checklist-input for='name' type='checkbox'>
</semantic-form-checklist-input>
            ]]></mp-code-block>
            <mp-code-block mode='text/html'><![CDATA[
<!-- allows to add custom class to component and to items of component -->
<semantic-form-checklist-input for='name' class='class name' class-item-name='item class name'>
</semantic-form-checklist-input>
            ]]></mp-code-block>
            <mp-code-block mode='text/html'><![CDATA[
<!-- allows to select horizontal/vertical position. -->
<semantic-form-checklist-input for='name' row=true>
</semantic-form-checklist-input>
            ]]></mp-code-block>
          </td>
          <td>
            <p>The component allows end user to select one or more values from a list.
              The list can be rendered either as checkboxes or radio buttons and as such can also be used as binary (boolean) input.
            </p>
            <p>The component has special attributes: <strong>type</strong>, <strong>row</strong>, <strong>class</strong>, <strong>class-item-name</strong>. </p>
            <p><strong>type:</strong> allows users to select the type of the component: radio-button list or checkbox list.
              By default using 'checkbox'. <code>type='radio'</code> for radio-button.
            </p>
            <p><strong>row:</strong> allows users to select horizontal or vertical position of items.
              By default - vertical position. If <code>row=true</code> - horizontal position.
            </p>
            <p><strong>class:</strong> allows users to assign custom css classes to the checklist.
            </p>
            <p><strong>class-item-name:</strong>allows users to assign custom css classes to any items of the checklist.
            </p>
          </td>
        </tr>
        <tr>
          <td>CheckBox Input</td>
          <td>
						<mp-code-block mode='text/html'><![CDATA[
<semantic-form-checkbox-input for='{field-id}'>
</semantic-form-checkbox-input>
						]]></mp-code-block>
          </td>
          <td>
            <p>The component renders as a single checkbox with binary status, i.e. to exclusively handle
              <code>xsd:boolean</code> values. If the checkbox is checked will persist <code>true^^xsd:boolean</code>
              and if it is unchecked it will persist to <code>false^^xsd:boolean</code>.
            </p>
            <p>The component has an attribute:  <strong>class</strong>. </p>
            <p><strong>class:</strong> allows users to assign custom css classes to the checkbox.
            </p>
          </td>
        </tr>
        <tr>
          <td>Form Switch</td>
          <td>
            <mp-code-block mode='text/html'><![CDATA[
<semantic-form-switch for='{general-switch-type}'
  switch-on-field='switch-case-type'>
    <semantic-form-switch-case label='case label 1'>
      <semantic-form-composite-input
        for='{general-switch-type}'
        new-subject-template='template'
        fields='[{fieldDefinitions}]'>
        <semantic-form-hidden-input for='{switch-case-type}'
          default-value='http://www.example.com/spec-type-1'>
        </semantic-form-hidden-input>
        ... child inputs ...
      </semantic-form-composite-input>
    </semantic-form-switch-case>
    <semantic-form-switch-case label='case label 2'>
      <semantic-form-composite-input
        for='{general-switch-type}'
        new-subject-template='template'
        fields='[{fieldDefinitions}]'>
        <semantic-form-hidden-input for='{switch-case-type}'
          default-value='http://www.example.com/spec-type-2'>
        </semantic-form-hidden-input>
          ... another child inputs ...
        </semantic-form-composite-input>
      </semantic-form-switch-case>
</semantic-form-switch>
            ]]></mp-code-block>
          </td>
          <td>
            <p>The component allows the end user to select different composite forms (sub-forms) from a drop-down.
              For example: The user may want to create events associate to an artefact, but every event type may have very
              different properties. Every event type might be described through a different set of fields and through
              its own composite form. The component can be used to let the user choose between the different event types
              and respective composite form implementations.
            </p>
            <p><code>general-switch-type</code> - the field which defines a general type of switch, i.e.
              define a type of each <code>composite-input</code>.
            </p>
            <p><code>switch-on-field</code>=<code>switch-case-type</code> - the field which defines types
              of the switch cases. This is a service field.
            </p>
            <p><code>label</code> - label for a list of types.</p>
            <p><strong>Important:</strong></p>
            <p><code>semantic-form-switch</code>expects only <code>semantic-form-switch-case</code> as children
              and that <code>semantic-form-switch-case</code> expects as child a <code>semantic-form-composite-input</code>
            </p>
            <p><code>semantic-form-composite-input</code> expects a mandatory child <code>semantic-form-hidden-input</code>
              which has a <strong>default-value</strong>=<i>iri:special-type</i> and the service field
              <strong>switch-case-type</strong>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <p>Furthermore, additional static form elements can be placed anywhere within the form:</p>
    <dl>
      <dt><code><semantic-form-errors></semantic-form-errors></code></dt>
      <dd><p>Displays all errors for every form input at one convenient place.</p></dd>

      <dt><code><semantic-form-recover-notification></semantic-form-recover-notification></code></dt>
      <dd><p>Display dismissable notification that form state was recovered from local storage (see <a href="#prop-browser-persistence">browser-persistence</a> form property for details).</p></dd>

      <dt><code><button name='submit'>Save</button></code></dt>
      <dd><p>Submits form content.<p></dd>

      <dt><code><button name='reset'>Reset</button></code></dt>
      <dd><p>Resets form to the initial state.</p></dd>

      <dt><code><button name='save-state'>Export</button></code></dt>
      <dd><p>Allows to download form state as a file to load it back later.</p></dd>

      <dt><code><button name='load-state'>Import</button></code></dt>
      <dd><p>Loads previously exported form state.</p></dd>
    </dl>
    <p>See also <semantic-link iri="http://help.metaphacts.com/resource/SemanticFormAdvancedInputs">Advanced Inputs</semantic-link> for more specialized form inputs.</p>

    <h3>Reading Field Definitions from the Database </h3>
    <p>
      Instead of defining the field definitions inline (as above), field definitions may also have an RDF representation and can be stored in the database (for example, when the Field Definition Catalog is used). The following backend template helper function can be used to read the definitions from the database:
    </p>

    <ul>
      <li>
        <b>Read all field definitions:</b> <code>&lbrack;&lbrack;fieldDefinitions]]</code><br>
        Returns a JSON object array with all field definitions stored in the system. To reference a specific field definition from the form input elements, the full IRI of the field identifier needs to be used. Example:
        <mp-code-block mode='text/html'>
<semantic-form fields=&lbrack;&lbrack;fieldDefinitions]]>
  <semantic-form-text-input for='http://www.researchspace.org/instances/fields/expressionDisplayLabel'>
  </semantic-form-text-input>
</semantic-form>
        </mp-code-block>
      </li>
      <li>
        <b>Read specific field definitions:</b> <code>&lbrack;&lbrack;fieldDefinitions alias1="http://www.researchspace.org/instances/fields/expressionDisplayLabel"]]</code><br>
        Reads the specified field definitions (identified by its IRI) and re-writes the identifier to a local alias for reference from the input element.
         Example:
        <mp-code-block mode='text/html'>
<semantic-form fields='&lbrack;&lbrack;fieldDefinitions alias1="http://www.researchspace.org/instances/fields/expressionDisplayLabel"]]'>
  <semantic-form-text-input for='alias1'></semantic-form-text-input>
</semantic-form>
        </mp-code-block>
      </li>
    </ul>

    <h1>Examples</h1>


    <h3>Example 1: Basic form</h3>

    <p>The following example illustrates the basic definition of a form to create a person. It defines two fields (<code>name</code> and <code>knows</code>) and places the form components.</p>

    <mp-code-example>
    <![CDATA[
<semantic-form
          new-subject-template='http://www.example.com/id/person-{{UUID}}'
          post-action='redirect'
          form-id='example-1'
          fields='[
            {
              "id": "name",
              "label": "Full Name",
              "xsdDatatype": "xsd:string",
              "minOccurs": "1",
              "maxOccurs": "1",
              "insertPattern": "INSERT { $subject <http://xmlns.com/foaf/0.1/name> ?value } WHERE {}"
            }, {
              "id": "knows",
              "label": "Knows",
              "insertPattern": "INSERT { $subject <http://xmlns.com/foaf/0.1/knows> ?value } WHERE {}",
              "autosuggestionPattern" : "PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
                  PREFIX foaf: <http://xmlns.com/foaf/0.1/>
                  SELECT ?value ?label WHERE {
                    SERVICE Repository:lookup {
                      ?value lookup:token ?__token__ .
                      ?value lookup:type foaf:Person .
                      ?value lookup:name ?label .
                    }
                  }"
            }]'
          >
  <semantic-form-text-input for="name"></semantic-form-text-input>
  <semantic-form-autocomplete-input for="knows"></semantic-form-autocomplete-input>
  <button name="submit" class="btn btn-secondary">Save</button>
  <button name="reset" class="btn btn-secondary">Reset</button>
</semantic-form>
]]>
    </mp-code-example>

    <h3>Example 2: Simple field definitions</h3>

    <p>In the following we show a very simple example form with two simple field definitions to create a new object using the <a href="http://www.cidoc-crm.org/comprehensive_intro.html" target="_blank">CIDOC Conceptual Reference Model</a> (CRM) ontology.
    The fields capture an RDFS label as well as the CRM type, which can be selected from a given set of CRM type.</p>

    <mp-code-example>
<![CDATA[
      <semantic-form new-subject-template='http://www.example.com/id/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        form-id='example-1'
        fields='[
          {
            "id": "type",
            "label": "Type",
            "description": "The type of the created instance",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "maxOccurs": "1",
            "valueSetPattern": "
              SELECT $value $label WHERE {
                VALUES ($value $label) {
                  (<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object> \"Man Made Object\")
                  (<http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object> \"Information Object\")
                }
              }
            ",
            "selectPattern": "SELECT $value WHERE { $subject a $value }",
            "insertPattern": "INSERT { $subject a $value } WHERE {}",
            "deletePattern": "DELETE { $subject a $value } WHERE {}"
          },
          {
            "id": "label",
            "label": "Label",
            "description": "The label used to display the instance",
            "xsdDatatype": "xsd:string",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value WHERE { $subject rdfs:label $value }",
            "insertPattern": "INSERT { $subject rdfs:label $value } WHERE {}",
            "deletePattern": "DELETE { $subject rdfs:label $value } WHERE {}"
          },
          {
            "id": "location",
            "label": "Location",
            "description": "The former or current location of an instance",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "maxOccurs": "3",
            "selectPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT $value WHERE { $subject crm:P53_has_former_or_current_location $value }
            ",
            "insertPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              INSERT { $subject crm:P53_has_former_or_current_location $value } WHERE {}
            ",
            "deletePattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              DELETE { $subject crm:P53_has_former_or_current_location $value } WHERE {}
            ",
            "treePatterns": {
              "type": "simple",
              "schemePattern": "?item <http://www.w3.org/2004/02/skos/core#inScheme> <http://collection.britishmuseum.org/id/place>"
            }
          }
        ]'>
        <bs-panel>
          <h4>Create new CRM Instance</h4>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for='label'></semantic-form-text-input>
          <semantic-form-select-input for='type'></semantic-form-select-input>
          <semantic-form-tree-picker-input for='location'></semantic-form-tree-picker-input>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </bs-panel>
      </semantic-form>
]]>
    </mp-code-example>

    <h3>Example 3: Complex field definitions</h3>
    The following example shows more complex field definitions, where the field definition patterns map to complex CRM graph structures. We also show how to create a more complex, tabbed layout for the form.
    <mp-code-example>
<![CDATA[
      <semantic-form new-subject-template='http://www.example.com/id/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        form-id='example-2'
        fields='[
          {
            "id": "type",
            "label": "Type",
            "description": "The type of the created instance",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "maxOccurs": "1",
            "valueSetPattern": "
              SELECT $value $label WHERE {
                VALUES ($value $label) {
                  (<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object> \"Man Made Object\")
                  (<http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object> \"Information Object\")
                }
              }
            ",
            "selectPattern": "SELECT $value WHERE { $subject a $value }",
            "insertPattern": "INSERT { $subject a $value } WHERE {}",
            "deletePattern": "DELETE { $subject a $value } WHERE {}"
          },
          {
            "id": "label",
            "label": "Label",
            "description": "The label used to display the instance",
            "xsdDatatype": "xsd:string",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value WHERE { $subject rdfs:label $value }",
            "insertPattern": "INSERT { $subject rdfs:label $value } WHERE {}",
            "deletePattern": "DELETE { $subject rdfs:label $value } WHERE {}"
          },
          {
            "id": "acquisitionBeginDate",
            "label": "Acquisition begin date",
            "description": "The acquisition start date refers to the date that the current owning body acquired the object",
            "xsdDatatype": "xsd:dateTime",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT ?value WHERE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_begin_of_the_begin ?value
              }
            ",
            "insertPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              INSERT {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_begin_of_the_begin $value
              } WHERE {
                BIND(IRI(CONCAT(STR(?subject), \"/acquisition\")) as ?acquisition).
                BIND(IRI(CONCAT(STR(?subject), \"/acquisition/date\")) as ?acquisitionDate).
              }
            ",
            "deletePattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              DELETE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_begin_of_the_begin ?date
              } WHERE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_begin_of_the_begin $value.
                ?acquisitionDate crm:P82a_begin_of_the_begin ?date.
              }
            "
          },
          {
            "id": "acquisitionEndDate",
            "label": "Acquisition end date",
            "description": "The acquisition end date refers to the date that the current owning body acquired the object",
            "xsdDatatype": "xsd:dateTime",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT ?value WHERE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_end_of_the_end ?value
              }
            ",
            "insertPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              INSERT {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_end_of_the_end  $value
              } WHERE {
                BIND(IRI(CONCAT(STR(?subject), \"/acquisition\")) as ?acquisition).
                BIND(IRI(CONCAT(STR(?subject), \"/acquisition/date\")) as ?acquisitionDate).
              }
            ",
            "deletePattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              DELETE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_end_of_the_end ?date
              } WHERE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P4_has_time-span ?acquisitionDate.
                ?acquisitionDate crm:P82a_end_of_the_end $value.
                ?acquisitionDate crm:P82a_end_of_the_end  ?date.
              }
            "
          },
          {
            "id": "acquisitionType",
            "label": "Acquistion Type",
            "description": "The type of acquisition refers to how the thing was transferred to the owning organisation. For example, donation, purchase, etc.",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT $value ?label WHERE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P2_has_type $value.
                $value skos:prefLabel $label
              }
            ",
            "valueSetPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT DISTINCT $value $label WHERE {
                VALUES ($value $label) {
                  (<http://collection.britishmuseum.org/id/thesauri/acquisition/B> \"Bequeathed\")
                  (<http://collection.britishmuseum.org/id/thesauri/acquisition/D> \"Donated\")
                  (<http://collection.britishmuseum.org/id/thesauri/acquisition/FU> \"Funded\")
                  (<http://collection.britishmuseum.org/id/thesauri/acquisition/P> \"Purchased\")
                }
              }
            ",
            "insertPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              INSERT {
                ?acquisition a crm:E8_Acquisition .
                ?acquisitionType a crm:E55_Type .
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P2_has_type $value.
              } WHERE {
                BIND(uri(concat(str($subject),\"/acquisition\")) as ?acquisition) .
              }
            "
          },
          {
            "id": "acquisitionFromActor",
            "label": "Acquisition from Actor",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "
              PREFIX rso: <http://www.researchspace.org/ontology/>
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT ?value ?label WHERE {
                $subject crm:P24i_changed_ownership_through ?acquisition.
                ?acquisition crm:P23_transferred_title_from $value.
                $value rso:displayLabel ?label
              }
            ",
            "autosuggestionPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              SELECT $value $label WHERE {
                VALUES ($value $label) {
                  (<http://collection.britishmuseum.org/id/person-institution/104636> \"The British Museum\")
                  (<http://collection.britishmuseum.org/id/person-institution/170898> \"British Consulate General, Atlanta\")
                  (<http://collection.britishmuseum.org/id/person-institution/188537> \"British Association for the Advancement of Science\")
                }
                FILTER REGEX($label, $__token__, \"i\")
              }
            ",
            "insertPattern": "
              PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
              INSERT {
                ?acquisitionActor a crm:E39_Actor .
                ?acqusition a crm:E8_Acquisition .
                $subject crm:P24i_changed_ownership_through ?acquisition .
                ?acquisition crm:P23_transferred_title_from $value .
              } WHERE {
                BIND(uri(concat(str(?subject),\"/acquisition\")) as ?acquisition)
              }
            "
          }
        ]'>
        <bs-panel>
          <h4>Create CRM Instance </h4>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <bs-tabs>
            <bs-tab event-key="1" title="General Information">
              <semantic-form-text-input for='label'></semantic-form-text-input>
              <semantic-form-select-input for='type'></semantic-form-select-input>
            </bs-tab>
            <bs-tab event-key="2" title="Acquisition">
              <semantic-form-datetime-input for="acquisitionBeginDate"></semantic-form-datetime-input>
              <semantic-form-datetime-input for="acquisitionEndDate"></semantic-form-datetime-input>
              <semantic-form-select-input for='acquisitionType'></semantic-form-select-input>
              <semantic-form-autocomplete-input for='acquisitionFromActor' placeholder='Search for an actor. Type e.g. "British"'></semantic-form-autocomplete-input>
            </bs-tab>
          </bs-tabs>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </bs-panel>
      </semantic-form>
]]>
    </mp-code-example>

    <h3>Example 4: Composite inputs</h3>
    <mp-code-example>
<![CDATA[
      <bs-panel>
        <semantic-form new-subject-template='http://www.example.com/id/{{UUID}}'
          post-action='redirect'
          browser-persistence=true
          form-id='example-3'
          fields='[
            {
              "id": "label",
              "label": "Label",
              "xsdDatatype": "xsd:string",
              "minOccurs": "1",
              "maxOccurs": "1",
              "selectPattern": "
                PREFIX example: <http://example.com/>
                SELECT ?value WHERE { $subject example:label ?value }
              ",
              "insertPattern": "
                PREFIX example: <http://example.com/>
                INSERT { $subject example:label ?value } WHERE {}
              ",
              "deletePattern": "
                PREFIX example: <http://example.com/>
                DELETE { $subject example:label ?value } WHERE {}
              "
            },
            {
              "id": "owner",
              "label": "Owner",
              "xsdDatatype": "xsd:anyURI",
              "selectPattern": "
                PREFIX example: <http://example.com/>
                SELECT ?value WHERE { $subject example:owner ?value }
              ",
              "insertPattern": "
                PREFIX example: <http://example.com/>
                INSERT { $subject example:owner ?value } WHERE {}
              ",
              "deletePattern": "
                PREFIX example: <http://example.com/>
                DELETE { $subject example:owner ?value } WHERE {}
              "
            }
          ]'>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for="label"></semantic-form-text-input>
          <semantic-form-composite-input for="owner" new-subject-template="owner/{{id}}" fields='[
            {
              "id": "id",
              "label": "Owner ID",
              "xsdDatatype": "xsd:string",
              "minOccurs": "1",
              "maxOccurs": "1",
              "selectPattern": "
                PREFIX example: <http://example.com/>
                SELECT ?value WHERE { $subject example:id ?value }
              ",
              "insertPattern": "
                PREFIX example: <http://example.com/>
                INSERT { $subject example:id ?value } WHERE {}
              ",
              "deletePattern": "
                PREFIX example: <http://example.com/>
                DELETE { $subject example:id ?value } WHERE {}
              "
            },
            {
              "id": "name",
              "label": "Owner name",
              "xsdDatatype": "xsd:string",
              "minOccurs": "1",
              "selectPattern": "
                PREFIX example: <http://example.com/>
                SELECT ?value WHERE { $subject example:name ?value }
              ",
              "insertPattern": "
                PREFIX example: <http://example.com/>
                INSERT { $subject example:name ?value } WHERE {}
              ",
              "deletePattern": "
                PREFIX example: <http://example.com/>
                DELETE { $subject example:name ?value } WHERE {}
              "
            }
          ]'>
            <semantic-form-text-input for="id"></semantic-form-text-input>
            <semantic-form-text-input for="name"></semantic-form-text-input>
          </semantic-form-composite-input>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </semantic-form>
      </bs-panel>
]]>
    </mp-code-example>

    <h3>Example 5: Independent resource creation in modal dialog</h3>
    <mp-code-example>
<![CDATA[
      <bs-panel>
        <semantic-form new-subject-template='http://www.example.com/with-features/{{id}}'
          post-action='redirect'
          browser-persistence=true
          form-id='example-4'
          fields='[
            {
              "id": "id",
              "label": "ID",
              "xsdDatatype": "xsd:string",
              "minOccurs": "1",
              "maxOccurs": "1",
              "selectPattern": "
                PREFIX example: <http://example.com/>
                SELECT ?value WHERE { $subject example:id ?value }
              ",
              "insertPattern": "
                PREFIX example: <http://example.com/>
                INSERT { $subject example:id ?value } WHERE {}
              ",
              "deletePattern": "
                PREFIX example: <http://example.com/>
                DELETE { $subject example:id ?value } WHERE {}
              ",
              "askPattern": "ASK { FILTER(REGEX($value, \"^[a-zA-Z0-9]+$\")) }"
            },
            {
              "id": "feature",
              "label": "Feature",
              "xsdDatatype": "xsd:anyURI",
              "selectPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX example: <http://example.com/>
                SELECT ?value ?label WHERE {
                  $subject example:feature ?value .
                  OPTIONAL { ?value rdfs:label ?label }
                }
              ",
              "insertPattern": "
                PREFIX example: <http://example.com/>
                INSERT { $subject example:feature ?value } WHERE {}
              ",
              "deletePattern": "
                PREFIX example: <http://example.com/>
                DELETE { $subject example:feature ?value } WHERE {}
              ",
              "autosuggestionPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX example: <http://example.com/>
                SELECT $value $label WHERE {
                  $value a example:feature .
                  $value rdfs:label $label .
                  FILTER REGEX($label, $__token__, \"i\")
                }
              "
            },
            {
              "id": "location",
              "label": "Location",
              "description": "The former or current location of an instance",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "maxOccurs": "3",
              "selectPattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                SELECT $value WHERE { $subject crm:P53_has_former_or_current_location $value }
              ",
              "insertPattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                INSERT { $subject crm:P53_has_former_or_current_location $value } WHERE {}
              ",
              "deletePattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                DELETE { $subject crm:P53_has_former_or_current_location $value } WHERE {}
              ",
              "treePatterns": {
                "type": "simple",
                "schemePattern": "?item <http://www.w3.org/2004/02/skos/core#inScheme> <http://example.com/scheme/location>"
              }
            }
          ]'>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for='id'></semantic-form-text-input>
          <semantic-form-autocomplete-input for='feature' placeholder='Search or create a feature...'>
            <semantic-form new-subject-template='http://www.example.com/feature/{{label}}' fields='[
              {
                "id": "label",
                "label": "Label",
                "xsdDatatype": "xsd:string",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  SELECT ?value WHERE { $subject rdfs:label ?value }
                ",
                "insertPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  INSERT { $subject rdfs:label ?value } WHERE {}
                ",
                "deletePattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  DELETE { $subject rdfs:label ?value } WHERE {}
                ",
                "askPattern": "ASK { FILTER(REGEX($value, \"^[a-zA-Z0-9]+$\")) }"
              },
              {
                "id": "type",
                "label": "Type",
                "xsdDatatype": "xsd:anyURI",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "SELECT $value WHERE { $subject a $value }",
                "insertPattern": "INSERT { $subject a $value } WHERE {}",
                "deletePattern": "DELETE { $subject a $value } WHERE {}"
              },
              {
                "id": "dimension",
                "label": "Dimension",
                "xsdDatatype": "xsd:positiveInteger",
                "selectPattern": "
                  PREFIX example: <http://example.com/>
                  SELECT ?value WHERE { $subject example:dimension ?value }
                ",
                "insertPattern": "
                  PREFIX example: <http://example.com/>
                  INSERT { $subject example:dimension ?value } WHERE {}
                ",
                "deletePattern": "
                  PREFIX example: <http://example.com/>
                  DELETE { $subject example:dimension ?value } WHERE {}
                "
              }]'>
              <semantic-form-hidden-input for='type' default-value='test:Feature'></semantic-form-hidden-input>
              <semantic-form-text-input for='label'></semantic-form-text-input>
              <semantic-form-text-input for='dimension'></semantic-form-text-input>
              <semantic-form-errors></semantic-form-errors>
              <button name='submit' class='btn btn-secondary'>Create feature</button>
              <button name='reset' class='btn btn-secondary'>Reset feature</button>
            </semantic-form>
          </semantic-form-autocomplete-input>
          <semantic-form-tree-picker-input for='location'>
            <semantic-form new-subject-template='http://www.example.com/location/{{label}}' fields='[
              {
                "id": "label",
                "label": "Label",
                "xsdDatatype": "xsd:string",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  SELECT ?value WHERE { $subject rdfs:label ?value }
                ",
                "insertPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  INSERT { $subject rdfs:label ?value } WHERE {}
                ",
                "deletePattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  DELETE { $subject rdfs:label ?value } WHERE {}
                ",
                "askPattern": "ASK { FILTER(REGEX($value, \"^[a-zA-Z0-9]+$\")) }"
              },
              {
                "id": "type",
                "label": "Type",
                "xsdDatatype": "xsd:anyURI",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "SELECT $value WHERE { $subject a $value }",
                "insertPattern": "
                  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                  PREFIX scheme: <http://example.com/scheme/>
                  INSERT {
                    $subject a $value .
                    $subject skos:inScheme scheme:location
                  } WHERE {}
                ",
                "deletePattern": "
                  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                  PREFIX scheme: <http://example.com/scheme/>
                  DELETE {
                    $subject a $value .
                    $subject skos:inScheme scheme:location
                  } WHERE {}
                "
              },
              {
                "id": "broader",
                "label": "Broader concept",
                "xsdDatatype": "xsd:anyURI",
                "maxOccurs": "1",
                "selectPattern": "
                  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                  SELECT ?value WHERE { $subject skos:broader ?value }
                ",
                "insertPattern": "
                  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                  INSERT { $subject skos:broader ?value } WHERE {}
                ",
                "deletePattern": "
                  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                  DELETE { $subject skos:broader ?value } WHERE {}
                ",
                "treePatterns": {
                  "type": "simple",
                  "schemePattern": "?item <http://www.w3.org/2004/02/skos/core#inScheme> <http://example.com/scheme/location>"
                }
              }]'>
              <semantic-form-hidden-input for='type' default-value='test:Location'></semantic-form-hidden-input>
              <semantic-form-text-input for='label'></semantic-form-text-input>
              <semantic-form-tree-picker-input for='broader'></semantic-form-tree-picker-input>
              <semantic-form-errors></semantic-form-errors>
              <button name='submit' class='btn btn-secondary'>Create location</button>
              <button name='reset' class='btn btn-secondary'>Reset location</button>
            </semantic-form>
          </semantic-form-tree-picker-input>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name='submit' class='btn btn-secondary'>Save</button>
          <button name='reset' class='btn btn-secondary'>Reset</button>
        </semantic-form>
      </bs-panel>
]]>
    </mp-code-example>

    <h3>Example 6: Default values and hidden fields</h3>
    <mp-code-example>
<![CDATA[
      <semantic-form new-subject-template='http://www.example.com/id/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        form-id='example-5'
        fields='[
          {
            "id": "label",
            "label": "Label",
            "description": "The label used to display the instance",
            "xsdDatatype": "xsd:string",
            "minOccurs": "1",
            "maxOccurs": "unbound",
            "defaultValues": ["Default label for example instance"],
            "selectPattern": "SELECT $value WHERE { $subject rdfs:label $value }",
            "insertPattern": "INSERT { $subject rdfs:label $value } WHERE {}",
            "deletePattern": "DELETE { $subject rdfs:label $value } WHERE {}"
          },
          {
            "id": "type",
            "label": "Type",
            "description": "The type of the created instance",
            "xsdDatatype": "xsd:anyURI",
            "selectPattern": "SELECT $value WHERE { $subject a $value }",
            "insertPattern": "INSERT { $subject a $value } WHERE {}",
            "deletePattern": "DELETE { $subject a $value } WHERE {}"
          }
        ]'>
        <bs-panel>
          <h4>Create new Man Made Object Instance</h4>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for='label'></semantic-form-text-input>
          <semantic-form-hidden-input for='type'
            default-value='http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object'>
          </semantic-form-hidden-input>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </bs-panel>
      </semantic-form>
]]>
    </mp-code-example>
    <h3>Example 7: Checklist</h3>
    <mp-code-example>
<![CDATA[
    <semantic-form new-subject-template='http://www.example.com/id/{{UUID}}'
      post-action='redirect'
      browser-persistence=true
      form-id='example-6'
      fields='[
        {
          "id": "person-character",
          "label": "Person character",
          "xsdDatatype": "xsd:anyUri",
          "minOccurs": "1",
          "maxOccurs": "unbound",
          "selectPattern": "SELECT $value WHERE { $subject a $value }",
          "insertPattern": "INSERT { $subject a $value } WHERE {}",
          "deletePattern": "DELETE { $subject a $value } WHERE {}",
          "valueSetPattern": "SELECT ?value ?label WHERE {
            VALUES (?value ?label) {
              (<http://example.com/person-character/strong> \"Strong\")
              (<http://example.com/person-character/brave> \"Brave\")
              (<http://example.com/person-character/clever> \"Clever\")
              (<http://example.com/person-character/stupid> \"Stupid\")
              (<http://example.com/person-character/beautiful> \"Beautiful\")
            }
          }"
        },
        {
          "id": "repatriation-status",
          "label": "Repatriation status",
          "xsdDatatype": "xsd:anyUri",
          "minOccurs": "1",
          "maxOccurs": "1",
          "selectPattern": "SELECT $value WHERE { $subject a $value }",
          "insertPattern": "INSERT { $subject a $value } WHERE {}",
          "deletePattern": "DELETE { $subject a $value } WHERE {}",
          "valueSetPattern": "SELECT ?value ?label WHERE {
            VALUES (?value ?label) {
              (<http://example.com/repatriation-status/in-progress> \"In progress\")
              (<http://example.com/repatriation-status/not-applicable> \"Not applicable\")
              (<http://example.com/repatriation-status/repatriated> \"Repatriated\")
              (<http://example.com/repatriation-status/under-review> \"Under review\")
            }
          }"
        },
        {
          "id": "event-happen",
          "label": "Did the event happen?",
          "xsdDatatype": "xsd:boolean",
          "minOccurs": "1",
          "maxOccurs": "1",
          "selectPattern": "SELECT $value WHERE { $subject a $value }",
          "insertPattern": "INSERT { $subject a $value } WHERE {}",
          "deletePattern": "DELETE { $subject a $value } WHERE {}",
          "valueSetPattern": "SELECT ?value ?label WHERE {
            VALUES (?value ?label) {
              (true \"Yes\")
              (false \"No\")
            }
          }"
        }
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <h4>Select the character of the person</h4>
        <semantic-form-checklist-input for='person-character' type='checkbox'></semantic-form-checklist-input>
        <h4>Select the state of the repatriation status</h4>
        <semantic-form-checklist-input for='repatriation-status' row=true type='radio'></semantic-form-checklist-input>
        <h4>Select is event happen or not</h4>
        <semantic-form-checklist-input for='event-happen' type='radio'></semantic-form-checklist-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-secondary">Save</button>
        <button name="reset" class="btn btn-secondary">Reset</button>
      </bs-panel>
    </semantic-form>
]]>
    </mp-code-example>
    <h3>Example 8: Checkbox</h3>
    <mp-code-example>
<![CDATA[
    <semantic-form new-subject-template='http://www.example.com/id/{{UUID}}'
      post-action='redirect'
      browser-persistence=true
      form-id='example-7'
      fields='[
      {
        "id": "is-dinosaur",
        "label": "Is it a dinosaur?",
        "xsdDatatype": "xsd:boolean",
        "minOccurs": "1",
        "maxOccurs": "1",
        "selectPattern": "SELECT $value WHERE { $subject <http://example.com/dinosaur/isdinosaur> $value }",
        "insertPattern": "INSERT { $subject <http://example.com/dinosaur/isdinosaur> $value } WHERE {}",
        "deletePattern": "DELETE { $subject <http://example.com/dinosaur/isdinosaur> $value } WHERE {}"
      }
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <semantic-form-checkbox-input for='is-dinosaur'></semantic-form-checkbox-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-secondary">Save</button>
        <button name="reset" class="btn btn-secondary">Reset</button>
      </bs-panel>
    </semantic-form>
]]>
      </mp-code-example>

      <h3>Example 9: Switch</h3>
      <mp-code-example>
<![CDATA[
      <semantic-form new-subject-template='http://www.example.com/switch/actions/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        form-id='example-8'
        fields='[
          {
            "id": "switch-action-type",
            "label": "Switch",
            "description": "Allows to select different forms",
            "xsdDatatype": "xsd:anyURI",
            "selectPattern": "SELECT $value WHERE { $subject <http://www.example.com/switch/has-action> $value }",
            "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action> $value } WHERE {}",
            "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action> $value } WHERE {}"
          }
        ]'>
        <bs-panel>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-switch for="switch-action-type" switch-on-field="switch-case-type">
            <semantic-form-switch-case label="Send">
              <semantic-form-composite-input for="switch-action-type" new-subject-template='http://www.example.com/switch/action/send/{{UUID}}' fields='[
                {
                  "id": "switch-case-type",
                  "xsdDatatype": "xsd:anyURI",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/switch/has-action-type> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}"
                },
                {
                  "id": "label",
                  "label": "Label",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject rdfs:label ?value }",
                  "insertPattern": "INSERT { $subject rdfs:label ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject rdfs:label ?value } WHERE {}"
                },
                {
                  "id": "sender",
                  "label": "Sender",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/sender-name> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/sender-name> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/sender-name> ?value } WHERE {}"
                },
                {
                  "id": "amount",
                  "label": "Amount",
                  "xsdDatatype": "xsd:decimal",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/amount> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/amount> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/amount> ?value } WHERE {}"
                }
              ]'>
                <semantic-form-hidden-input for="switch-case-type" default-value="http://www.example.com/switch/type/send">
                </semantic-form-hidden-input>
                <semantic-form-text-input for="label"></semantic-form-text-input>
                <semantic-form-text-input for="sender"></semantic-form-text-input>
                <semantic-form-text-input for="amount"></semantic-form-text-input>
              </semantic-form-composite-input>
            </semantic-form-switch-case>
            <semantic-form-switch-case label="Move">
              <semantic-form-composite-input for="switch-action-type" new-subject-template='http://www.example.com/switch/action/move/{{UUID}}' fields='[
                {
                  "id": "switch-case-type",
                  "xsdDatatype": "xsd:anyURI",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/switch/has-action-type> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}"
                },
                {
                  "id": "label",
                  "label": "Label",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject rdfs:label ?value }",
                  "insertPattern": "INSERT { $subject rdfs:label ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject rdfs:label ?value } WHERE {}"
                },
                {
                  "id": "amount",
                  "label": "Amount",
                  "xsdDatatype": "xsd:decimal",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/amount> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/amount> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/amount> ?value } WHERE {}"
                },
                {
                  "id": "from",
                  "label": "From",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/sender-name> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/sender-name> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/sender-name> ?value } WHERE {}"
                },
                {
                  "id": "to",
                  "label": "To",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/receiver-name> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/receiver-name> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/receiver-name> ?value } WHERE {}"
                }
              ]'>
                <semantic-form-hidden-input for="switch-case-type" default-value="http://www.example.com/switch/type/move">
                </semantic-form-hidden-input>
                <semantic-form-text-input for="label"></semantic-form-text-input>
                <semantic-form-text-input for="amount"></semantic-form-text-input>
                <semantic-form-text-input for="from"></semantic-form-text-input>
                <semantic-form-text-input for="to"></semantic-form-text-input>
              </semantic-form-composite-input>
            </semantic-form-switch-case>
            <semantic-form-switch-case label="Receive">
              <semantic-form-composite-input for="switch-action-type" new-subject-template="http://www.example.com/switch/action/receive/{{UUID}}" fields='[
                {
                  "id": "switch-case-type",
                  "xsdDatatype": "xsd:anyURI",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/switch/has-action-type> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}"
                },
                {
                  "id": "label",
                  "label": "Label",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject rdfs:label ?value }",
                  "insertPattern": "INSERT { $subject rdfs:label ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject rdfs:label ?value } WHERE {}"
                },
                {
                  "id": "receiver",
                  "label": "Receiver",
                  "xsdDatatype": "xsd:string",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/receiver-name> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/receiver-name> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/receiver-name> ?value } WHERE {}"
                },
                {
                  "id": "amount",
                  "label": "Amount",
                  "xsdDatatype": "xsd:decimal",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/amount> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/amount> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/amount> ?value } WHERE {}"
                }
              ]'>
                <semantic-form-hidden-input for="switch-case-type" default-value="http://www.example.com/switch/type/receive">
                </semantic-form-hidden-input>
                <semantic-form-text-input for="label"></semantic-form-text-input>
                <semantic-form-text-input for="receiver"></semantic-form-text-input>
                <semantic-form-text-input for="amount"></semantic-form-text-input>
              </semantic-form-composite-input>
            </semantic-form-switch-case>
          </semantic-form-switch>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </bs-panel>
      </semantic-form>
]]>
</mp-code-example>

    <h3>Example 10: Ordered list</h3>
    <mp-code-example>
      <![CDATA[
      <bs-panel>
        <semantic-form new-subject-template='http://www.example.com/id/{{name}}'
          post-action='redirect'
          form-id='example-9'
          fields='[
            {
              "id": "name",
              "label": "Name",
              "xsdDatatype": "xsd:string",
              "minOccurs": "1",
              "selectPattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX example: <http://example.com/>
                SELECT ?value ?index WHERE {
                  $subject crm:P1_is_identified_by ?appellation .
                  ?appellation a crm:E41_Appellation ;
                    rdfs:label ?value ;
                    example:hasIndex ?index .
                }",
              "insertPattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX example: <http://example.com/>
                INSERT {
                  $subject crm:P1_is_identified_by ?appellation .
                  ?appellation a crm:E41_Appellation ;
                    rdfs:label ?value ;
                    example:hasIndex ?index .
                } WHERE {
                  BIND(URI(CONCAT(STR($subject),\"/appellation/\",STRUUID())) as ?appellation)
                }",
              "deletePattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX example: <http://example.com/>
                DELETE {
                  $subject crm:P1_is_identified_by ?appellation .
                  ?appellation a crm:E41_Appellation ;
                    rdfs:label ?value ;
                    example:hasIndex ?index .
                } WHERE {
                  ?appellation a crm:E41_Appellation ;
                    rdfs:label ?value ;
                    example:hasIndex ?index .
                }",
              "orderedWith": "index-property"
            },
            {
              "id": "artwork",
              "label": "Artwork",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "selectPattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX example: <http://example.com/>
                SELECT ?value ?index WHERE {
                  $subject crm:P14i_performed ?production .
                  ?production a crm:E12_Production ;
                    crm:P108_has_produced ?value ;
                    example:hasIndex ?index .
                }",
              "insertPattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX example: <http://example.com/>
                INSERT {
                  $subject crm:P14i_performed ?production .
                  ?production a crm:E12_Production ;
                    crm:P108_has_produced ?value ;
                    example:hasIndex ?index .
                } WHERE {
                  BIND(URI(CONCAT(STR($subject),\"/production/\",STRUUID())) as ?production)
                }",
              "deletePattern": "
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX example: <http://example.com/>
                DELETE {
                  $subject crm:P14i_performed ?production .
                  ?production a crm:E12_Production ;
                    crm:P108_has_produced ?value ;
                    example:hasIndex ?index .
                } WHERE {
                  ?production a crm:E12_Production ;
                    crm:P108_has_produced ?value ;
                    example:hasIndex ?index .
                }",
              "valueSetPattern": "
                PREFIX example: <http://example.com/>
                SELECT $value $label WHERE {
                  VALUES ($value $label) {
                    (example:artwork1 \"Artwork1\")
                    (example:artwork2 \"Artwork2\")
                  }
                }
              ",
              "orderedWith": "index-property"
            }
          ]'>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for="name"></semantic-form-text-input>
          <semantic-form-select-input for="artwork"></semantic-form-select-input>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </semantic-form>
      </bs-panel>
      ]]>
    </mp-code-example>

    <h3>Example 11: Selecting SKOS concepts using a Tree Picker</h3>
    <mp-code-example>
      <![CDATA[
      <bs-panel>
        <semantic-form
          new-subject-template='http://www.example.com/id/object-{{UUID}}'
          post-action='redirect'
          form-id='example-skos'
          fields='[
                    {
                      "id": "name",
                      "label": "Name",
                      "xsdDatatype": "xsd:string",
                      "minOccurs": 1,
                      "maxOccurs": 1,
                      "insertPattern": "INSERT { $subject rdfs:label ?value } WHERE {}"
                    }, {
                      "id": "classification",
                      "label": "Classification",
                      "insertPattern": "INSERT { $subject <http://www.example.com/classification> ?value } WHERE {}",
                      "treePatterns": {
                        "type": "full",
                        "rootsQuery": "
                              SELECT DISTINCT ?item ?hasChildren WHERE {
                                ?item a skos:Concept .
                                FILTER NOT EXISTS { ?item skos:broader ?broader }
                                OPTIONAL { ?subItem skos:broader ?item }
                                BIND(BOUND(?subItem) AS ?hasChildren)
                              }",
                        "childrenQuery": "
                            SELECT ?item ?hasChildren WHERE {
                              ?item skos:broader ?parent .
                              OPTIONAL { ?subItem skos:broader ?item }
                              BIND(BOUND(?subItem) AS ?hasChildren)
                            }
                        ",
                        "parentsQuery": "
                            SELECT ?item ?parent WHERE {
                              ?item skos:broader ?parent .
                            }
                        ",
                        "searchQuery": "
                          SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                            ?item a skos:Concept ;
                              skos:prefLabel ?label .
                            BIND(false AS ?hasChildren)
                            FILTER REGEX(STR(?label), ?__token__, \"i\")
                          } ORDER BY DESC (?score) (?label) LIMIT 200
                        "
                      }
                    }]'
        >
          <semantic-form-text-input for="name"></semantic-form-text-input>
          <semantic-form-tree-picker-input for="classification"></semantic-form-tree-picker-input>
          <button name="submit" class="btn btn-secondary">Save</button>
          <button name="reset" class="btn btn-secondary">Reset</button>
        </semantic-form>
      </bs-panel>
      ]]>
    </mp-code-example>
  </div>
</div>
