<div class="page">
  <div class='page__body'>
    <div style="height:10px"></div>
    <p>
      It seems that no application page or template for this resource exists.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
</div>